<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>EJS</title>
</head>

<body>
    <h1>Hi</h1>
    <h2>
        <%= text %>
    </h2>
    <h3>cool</h3>
    <h4>nope</h4>
    <a href="/help">Get Help</a>
    <script src="/reload/reload.js"></script>
</body>

</html>
